.about-us-section {
    padding: 60px;
    background-image: url('../../assets/background-quinsi.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.about-us-section h1{
    color: white;
    margin: 0px;
    padding: 0px;
}

.about-us-section p{
    color: white; /* Cor do texto */
}

.divider{
    height: 4px;
    width: 120px;
    margin-top: 10px;
    margin-bottom: 10px;
    background: linear-gradient(90deg, #9f9dff, #5D31FF);
}

.section{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.our-mission{
    background-color: white;
    padding: 60px;
}

.div-wrapper {
    display: flex;
    flex-direction: row; /* Alinha lado a lado */
    justify-content: space-between; /* Espaço entre os itens */
    align-items: center;
    gap: 20px;
}

.content-wrapper {
    flex: 2; /* Dá mais espaço para o texto */
    min-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.image-section {
    flex: 1; /* Dá menos espaço para a imagem */
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-section img {
    max-width: 100%; /* Garante que a imagem não ultrapasse o container */
    height: auto;
    width: 400px; /* Reduz o tamanho da imagem */
    border-radius: 10px; /* Borda arredondada */
    margin-bottom: -40px;
}

.values-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center; /* Alinha o texto horizontalmente ao centro */
    text-align: center; /* Garante que o texto está centralizado */
    width: 100%;
    margin-top: 20px;
}

.value-item {
    display: flex;
    align-items: flex-start; /* Ícone e texto alinhados no topo */
    margin-bottom: 15px;
}

.value-item i.icon {
    font-size: 24px; /* Ajuste o tamanho do ícone */
    color: #5D31FF; /* Cor do ícone */
    margin-right: 10px; /* Espaço entre ícone e texto */
}

.value-item p {
    margin: 0; /* Remove a margem padrão do parágrafo */
}

.value-item strong {
    font-weight: bold;
}

/* Efeito de hover */
.value-item:hover i.icon {
    color: #7A77FC; /* Alteração na cor do ícone */
}

@media (max-width: 768px) {
    .our-mission,.about-us-section{
        padding: 20px;
    }
    .values-section {
        align-items: center; /* Centraliza os itens na tela */
        text-align: center; /* Centraliza o texto */
        margin-top: 15px;
    }

    .value-item {
        flex-direction: column; /* Ícone acima do texto */
        align-items: center; /* Centraliza cada item */
        margin-bottom: 20px;
    }

    .value-item i.icon {
        margin-right: 0; /* Remove espaço lateral */
        margin-bottom: 10px; /* Adiciona espaço entre ícone e texto */
        font-size: 28px; /* Aumenta o ícone para melhor visualização */
    }

    .value-item p {
        font-size: 14px; /* Ajusta o tamanho da fonte */
    }

    .div-wrapper {
        flex-direction: column; /* Empilha em telas pequenas */
        align-items: center; /* Centraliza o conteúdo */
    }

    .content-wrapper, .image-section {
        flex: none; /* Remove a divisão proporcional */
        width: 100%; /* Ocupa toda a largura */
    }

    .image-section img {
        width: 400px;
        margin-bottom: 0px;
    }

}
