.first-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px;
    margin-top: 40px;
    background: linear-gradient(90deg, #424242, #353535);
}

.main-text,
.main-text-lower {
    font-size: 75px;
    padding: 0;
    margin: 0;
    color: transparent; /* O texto precisa ser transparente para exibir o degradê */
    background: linear-gradient(90deg, #7A77FC, #5D31FF); /* Degradê aplicado ao fundo */
    -webkit-background-clip: text; /* Clipa o fundo ao texto no WebKit */
    background-clip: text; /* Clipa o fundo ao texto */
    opacity: 1; /* Estado inicial neutro */
    transform: translateX(0); /* Estado inicial neutro */
    transition: transform 0.3s ease, opacity 0.3s ease; /* Transição suave para hover */
}

/* Animação ao carregar */
.animate-on-load {
    opacity: 0; /* Começa invisível */
    transform: translateX(-50px); /* Deslocamento inicial para a esquerda */
    animation: fadeInFromLeft 1s ease-out forwards; /* Aparece ao carregar */
}

@keyframes fadeInFromLeft {
    0% {
        opacity: 0;
        transform: translateX(-50px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

/* Texto principal */
.main-text {
    align-self: flex-start;
    margin-top: 20px; /* Margem superior apenas para o texto de cima */
    animation-delay: 0.2s; /* Delay para o texto superior */
}

.main-text-lower {
    align-self: flex-end; /* Move o texto inferior para o canto direito */
    text-align: left;
    margin-bottom: 20px;
    animation-delay: 0.4s; /* Delay para o texto inferior */
}

/* Hover */
.main-text:hover,
.main-text-lower:hover {
    transform: translateX(10px); /* Efeito de movimento lateral para ambos no hover */
    opacity: 1; /* Garante que a opacidade não seja afetada pelo hover */
}

/* Botão de otimização */
.button-optimize {
    margin-top: 30px;
    background-color: #5D31FF;
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    text-align: center;
    border-radius: 20px; /* Opcional: para bordas arredondadas */
}

.button-optimize p {
    color: #ffffff;
    font-weight: 600;
    margin: 10px;
}

/* Responsividade */
@media (max-width: 768px) {
    .first-section {
        padding: 20px;
    }

    .main-text {
        margin-top: 100px;
    }

    .main-text,
    .main-text-lower {
        font-size: 35px;
    }
}
