.first-section {
    display: flex;
    flex-direction: row; /* Alinha imagem e texto lado a lado */
    align-items: center;
    justify-content: space-between;
    padding: 60px;
    margin-top: 80px;
  }
  
  .div-image {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center; 
  }
  
  img {
    max-width: 100%;
    height: auto;
  }
  
  .box-main-text {
    width: 50%; /* O texto ocupa metade do espaço */
    display: flex;
    flex-direction: column; /* Garante que o texto fique em coluna */
    justify-content: center; /* Centraliza verticalmente o conteúdo */
    padding: 20px;
  }
  
  .main-text {
    font-size: 45px;
    color: #424242; /* Cor do título principal */
    margin: 0 0 20px 0; /* Espaçamento inferior */
  }
  
  .quinsi-text {
    font-size: 50px;
    color: #5D31FF; /* Cor personalizada */
    margin: 0px; /* Espaçamento inferior */
  }
  
  .box-main-text p {
    font-size: 18px;
    color: #555; /* Cor do texto */
    line-height: 1.5; /* Melhora a legibilidade */
    margin-top: 10px;
  }
  
  .bouncing {
    animation: bounce 1.5s cubic-bezier(0.25, 1, 0.5, 1) 1; /* A animação executa uma vez */
  }
  
  @keyframes bounce {
    0% {
      transform: translateY(0); /* Posição inicial */
    }
    30% {
      transform: translateY(-20px); /* Sobe um pouco */
    }
    50% {
      transform: translateY(10px); /* Desce um pouco */
    }
    70% {
      transform: translateY(-10px); /* Sobe novamente */
    }
    100% {
      transform: translateY(0); /* Estabiliza */
    }
  }
  

  @media (max-width: 768px) {
    .first-section {
      flex-direction: column; /* Empilha imagem e texto no mobile */
      padding: 20px;
    }
  
    .div-image, .box-main-text {
      width: 100%; /* Ambos ocupam largura total */
      text-align: start;
    }
    .main-text, .quinsi-text {
        font-size: 30px;
      }
  
    img {
      max-width: 80%; /* Ajusta o tamanho da imagem no mobile */
      margin-bottom: 20px;
    }
  }
  