.feature-section {
  text-align: center;
  padding: 60px;
  background-color: #ffffff;
}

.feature-heading {
  color: #5D31FF;
  font-weight: bold;
  font-size: 1.2rem;
}

.feature-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.card-feature{

}

.card-feature h4{
  color: #333;
}

.icon {
  font-size: 2rem;
  color: #6650FA;
  margin: 0 auto 15px;
  background-color: white; /* Fundo branco para o ícone */
  padding: 15px;
  border-radius: 50%; /* Torna o ícone circular */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* Sombra aplicada ao ícone */
  width: 60px; /* Define uma largura fixa para o ícone */
  height: 60px; /* Define uma altura fixa para o ícone */
  display: flex; /* Alinha o ícone no centro */
  align-items: center; /* Centraliza verticalmente */
  justify-content: center; /* Centraliza horizontalmente */
}

/* Responsividade */
@media (max-width: 768px) {
  .feature-grid {
    flex-direction: column;
    display: flex;
  }

  h1 {
    font-size: 1.5em;
  }
}
