.footer {
  background: linear-gradient(to right, #424242, #303030);
  color: #ffffff;
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  flex-wrap: wrap; 
  margin: 0px;
  padding: 20px 0px;
}

.footer-logo {
  margin-right: 30px;
}

.footer-logo img {
  width: 200px;
  height: auto;
}

.footer-info {
  text-align: left;
}

.footer-info h2 {
  font-size: 18px;
  margin: 0 0 10px;
}

.footer-info p {
  margin: 5px 0;
  color: #ffffff;
}

.footer-info a {
  color: #ffffff;
  text-decoration: none;
  transition: color 0.3s;
}

.footer-info a:hover {
  color: #b3b3b3;
}

@media (max-width: 768px) {
  .footer {
    flex-direction: column;
    text-align: center;
  }

  .footer-logo {
    margin: 0 0 15px;
  }

  .footer-info {
    text-align: center;
  }
}
