/* Navbar Container */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 40px;
    background-color: #424242; /* Fundo cinza */
    position: fixed;
    top: 0; /* Alinha ao topo */
    width: 100%; /* Faz com que ocupe a largura total da página */
    z-index: 1000; /* Garante que a navbar fique sobre outros elementos */
}

/* Logo da Navbar */
.navbar-logo {
    width: 200px; /* Ajuste conforme necessário */
}

/* Ajuste do botão */
.navbar-button {
    padding: 0 20px; /* Adiciona 20px de espaçamento à direita e à esquerda do botão */
}

/* Responsividade para telas pequenas */
@media (max-width: 768px) {
    .navbar {
        padding: 0px;
    }

    .navbar-button {
        padding: 0 15px;
        margin: 0px;
    }
}
